<p id="notice"><%= notice %></p>

<p>
  <b>Color:</b>
  <%= @ad.color %>
</p>

<p>
  <b>Price:</b>
  <%= @ad.price %>
</p>

<p>
  <b>Bodytype:</b>
  <%= @ad.bodytype %>
</p>

<p>
  <b>Mileage:</b>
  <%= @ad.mileage %>
</p>

<p>
  <b>Enginetype:</b>
  <%= @ad.enginetype %>
</p>

<p>
  <b>Enginecapacity:</b>
  <%= @ad.enginecapacity %>
</p>

<p>
  <b>Drive:</b>
  <%= @ad.drive %>
</p>

<p>
  <b>Power:</b>
  <%= @ad.power %>
</p>

<p>
  <b>Transmission:</b>
  <%= @ad.transmission %>
</p>

<p>
  <b>State:</b>
  <%= @ad.state %>
</p>

<p>
  <b>Wheel:</b>
  <%= @ad.wheel %>
</p>

<p>
  <b>Customs:</b>
  <%= @ad.customs %>
</p>

<p>
  <b>Exchange:</b>
  <%= @ad.exchange %>
</p>

<p>
  <b>Owner:</b>
  <%= @ad.owner %>
</p>

<p>
  <b>Date:</b>
  <%= @ad.date %>
</p>

<p>
  <b>Photo:</b>
  <%= @ad.photo %>
</p>

<p>
  <b>Region:</b>
  <%= @ad.region %>
</p>

<p>
  <b>City:</b>
  <%= @ad.city %>
</p>

<p>
  <b>Automodel:</b>
  <%= @ad.automodel %>
</p>

<p>
  <b>Automark:</b>
  <%= @ad.automark %>
</p>


<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
