
%p#notice
  = notice

%br

- if @ad.images
  - @ad.images.each do |image|
    = image_tag image.image.thumb, class: 'img-polaroid'

%p
  %b Цвет:
  = @ad.color

%p
  %b Стоимость:
  = @ad.price


%p>
  %b Тип кузова:
  = @ad.bodytype

%p
  %b Пробег:
  = @ad.mileage


%p
  %bТип двигателя:
  = @ad.enginetype

%p
  %bОбъем двигателя:
  = @ad.enginecapacity

%p
  %bПривод:
  = @ad.drive

%p
  %bМощность двигателя:
  = @ad.power

%p
  %bКоробка передач:
  = @ad.transmission

%p
  %bСостояние:
  = @ad.state

%p
  %bОриентированоость руля:
  = @ad.wheel

%p
  %bТаможня:
  = @ad.customs 

%p
  %bВозможность обмена:
  = @ad.exchange 

%p
  %bКол-во хозяев по ПТС:
  = @ad.owner 

%p
  %bДата подачи:
  = @ad.date 

%p
  %bОбласть:
  = @ad.region 

%p
  %bГород:
  = @ad.city 

%p
  %bМодель:
  = Automodel.find(@ad.automodel_id).name

%p
  %bМарка:
  = Automark.find(@ad.automark_id).name


/= image_tag @ad.image_url(:thumb) if @ad.image? 

= link_to 'Редактировать', edit_ad_path(@ad)
= link_to 'Назад', ads_path
