<h2>Забыли свой пароль?</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :email, label: 'Введите свой e-mail' %>
  
  <%= f.submit "Отправить инструкции для изменения пароля" %>
<% end %>

<%= render "devise/shared/links" %>
