<h2>Войти в аккаунт</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.input :email, label: 'Введите Ваш e-mail', placeholder: 'user@domain.com', :wrapper => :prepend %><br />
  
  <%= f.input :password, label: 'Введите Ваш пароль' %><br />
  
  <% if devise_mapping.rememberable? -%>
    <div><%= f.input :remember_me, :as => :boolean %></div>
  <% end -%>

  <div><%= f.submit "Войти" %></div>
<% end %>

<%= render "devise/shared/links" %>
